h1 {
	font-size: 70px;
	font-family: 'Oswald', sans-serif;
	margin:0;
	padding:0;
}

h2 {
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
	margin:0;
	padding: 0;
}

a {
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
	color: black;
}

ul {
	padding: 10px;
	border: 7px solid white;
	border-radius: 20px;
}

li {
	display: inline;
	background: white;
	padding: 0px 20px 0px 20px;
}

header {
	text-align: center;
}




